@use '../variables' as theme;

ion-checkbox {
  --background: #{theme.$light} !important;
  --border-color: #{theme.$border-medium} !important;

  &::part(container) {
    background: #{theme.$light} !important;
    border: 1px solid #{theme.$border-medium};
  }

  &.checkbox-checked {
    &::part(container) {
      background: #{theme.$primary} !important;
      border-color: #{theme.$primary} !important;
    }
  }

  --checkmark-color: #{theme.$light} !important;
}