@import '../variables';

ion-checkbox {
  --background: #{$light} !important;
  --border-color: #{$border-medium} !important;

  &::part(container) {
    background: #{$light} !important;
    border: 1px solid #{$border-medium};
  }

  &.checkbox-checked {
    &::part(container) {
      background: #{$primary} !important;
      border-color: #{$primary} !important;
    }
  }

  --checkmark-color: #{$light} !important;
}