@use "../variables" as theme;

ion-list {
  background: transparent !important;
  padding: 0;

  ion-list-header {
    --color: #{theme.$medium};
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin-bottom: 8px;
  }

  ion-item {
    --background: transparent !important;

    --border-style: none;
    color: #{theme.$dark};

    &.ion-activated {
      --background: #{theme.$bg-hover} !important;
    }

    ion-input {
      --color: #{theme.$dark} !important;
      color: #{theme.$dark} !important;
      --placeholder-color: #{theme.$gray-400};
      font-size: 1rem;
      font-weight: 500;
      --padding-start: 8px;
    }
  }
}
