@use '../variables' as theme;

ion-toolbar {
  --color: #{theme.$light}; 
  --background: #{theme.$primary}; 
  
  --padding-top: 0px;
  --padding-bottom: 0px; 
  --min-height: 56px;   
  padding-top: 0px;     

  ion-title {
    color: #{theme.$light};
    font-weight: 600;
    margin-left: 8px; 
    font-size: 1.1rem; 
  }

  ion-back-button {
    --color: #{theme.$light} !important;
    --icon-color: #{theme.$light} !important;
    color: #{theme.$light} !important;

    &:hover {
      transform: translateX(-2px);
    }
    &::part(icon) {
      color: #{theme.$light};
    }
  }

  ion-buttons {
    gap: 8px;
    
    ion-button {
      --color: #{theme.$light};
      font-weight: 500;

      ion-icon {
        color: #{theme.$light};
        font-size: 24px;
      }
    }
  }
}