@use "../../../../theme/variables" as theme;

$ds-border-radius: 12px;
$ds-padding-base: 16px;

ion-item {
  --background: #{theme.$light};
  --border-radius: #{$ds-border-radius - 2px};
  margin: 0;
  padding: 0 12px;
  transition: all 0.3s ease;

  &:focus-within {
    --border-color: var(--ion-color-primary);
    box-shadow: 0 0 0 3px rgba(var(--ion-color-primary-rgb), 0.1);
  }
  p {
    color: #{theme.$medium};
  }
  ion-label {
    color: #{theme.$primary};
    font-weight: 600;
    font-size: 14px;
  }

  ion-select {
    &::part(text) {
      color: #{theme.$medium};
      font-size: 12px;
    }

    &::part(label) {
      color: #{theme.$primary} !important;
    }
  }
}
